# OS X
.DS_Store

/dist/
test/*

# Logs
*.log

# Dependency directories
node_modules

# Cordova Files
/platforms
/plugins
/www

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.xcf
*.sublime-project
*.sublime-workspace
gradlew
gradlew.bat
jsconfig.json
