# OS X
.DS_Store

/dist/

# Logs
*.log
/test/unit/coverage/
/test/e2e/reports/

# Dependency directories
node_modules

# Cordova Files
/platforms
/plugins
/www

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
