<?xml version='1.0' encoding='utf-8'?>
<widget id="org.archesproject.archesmobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Arches</name>
    <description>
      A mobile app to manage Arches resources
    </description>
    <author email="dev@fargeo.com" href="http://fargeo.com">
      Farallon Geographics, Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-sqlite-ext" spec="^2.1.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <preference name="DisallowOverscroll" value="true" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.5" />
</widget>
