/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


/* Put global styles here */
body {
    color: #393944;
}

.temp {
    padding-top: 200px;
    text-align: center;
    color: dimgray;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.text-color-dark{
    color: dimgrey;
}

.ons-icon[icon*="ion-"] {
    font-size: 24px !important;
}

.padded-page {
    background-color: white;
}

.padded-page > ons-page {
    margin: 20px;
}

.padded-page .page--material__background{
    background-color: inherit;
}

@font-face{
    font-family:FontAwesome5;
    src:url(../fonts/fa-regular-400.eot)
    format("embedded-opentype"),
    url(../fonts/fa-regular-400.woff2) format("woff2"),
    url(../fonts/fa-regular-400.woff) format("woff"),
    url(../fonts/fa-regular-400.ttf) format("truetype"),
    url(../fonts/fa-regular-400.svg) format("svg");
    src:url(../fonts/fa-solid-900.eot)
    format("embedded-opentype"),
    url(../fonts/fa-solid-900.woff2) format("woff2"),
    url(../fonts/fa-solid-900.woff) format("woff"),
    url(../fonts/fa-solid-900.ttf) format("truetype"),
    url(../fonts/fa-solid-900.svg) format("svg");
    font-weight:400;
    font-style:normal
}